<p id="notice"><%= notice %></p>

<h1>Workrooms</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Building</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workrooms.each do |workroom| %>
      <tr>
        <td><%= workroom.code %></td>
        <td><%= workroom.name %></td>
        <td><%= workroom.building %></td>
        <td><%= link_to 'Show', workroom %></td>
        <td><%= link_to 'Edit', edit_workroom_path(workroom) %></td>
        <td><%= link_to 'Destroy', workroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workroom', new_workroom_path %>
