<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @workroom.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workroom.name %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @workroom.floor %>
</p>

<%= link_to 'Edit', edit_workroom_path(@workroom) %> |
<%= link_to 'Workplaces', workplaces_path(workroom_id: @workroom) %> |
<%= link_to 'Back', workrooms_path %>
