<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @contributor.code %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contributor.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @contributor.surname %>
</p>

<p>
  <strong>Business Unit:</strong>
  <%= @contributor.business_unit %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @contributor.workplace %>
</p>

<p>
  <strong>Workroom:</strong>
  <%= @contributor.workroom %>
</p>

<p>
  <strong>Site:</strong>
  <%= @contributor.site %>
</p>

<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>
